*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --text: #EBF3E9;
    --secondary: #007D57;
    --highlight: #1D1D35;
}

body{
    background: #007D57;
}

header{
    display: flex;
    padding: 10px 0;
    z-index: 4; 
}

.hamburger{
    margin: 1em 2.5em 2.5em auto;
}



.logo {
    margin: 0 0 1em 1.5em;
    opacity: .8;
}

.logo-image:hover{
    scale: 1.1;
}


/* hamburger function */

.link{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
}
.dropdown{
    position: relative;
}

.hamburger-image{
    scale: .7;
    transition: scale 200ms linear;
}


.hamburger-image:hover{
    scale: 1;
}

.dropdown-menu{
    position: absolute;
    right: 0;
    width: 300px;
    top: calc(100% + .25em);
    background: var(--secondary);
    border: 2px solid var(--text);
    border-radius: .25rem;
    box-shadow: 0 2px 5px 2px #000;
    opacity: 0;
    padding: 1em;
    /* pointer-events: none; */
    transform: translateY(-10px);
    transition: opacity 200ms ease-in-out, transform 150ms ease-in-out;
    z-index: 2;
}

 .dropdown.active > .link + .dropdown-menu{
     opacity: 1;
     transform: translateY(0px);
    
     /* pointer-events: auto; */
 }


 .dropdown-links{
     display: flex;
     flex-direction: column;
     gap: 2em;
 }

 .list-content{
     text-decoration: none;
     color: #fff;
     font-size: 1.5rem;
     cursor: pointer;
 }
 .list-content:hover{
     color: var(--highlight);
 }

 .dropdown-icon{
    color: var(--highlight);
    margin: 0 1.5em 0 0;
    font-size: 1.3rem;
}

.topIcon{
    color: var(--text);
    scale: 1;
    transition: scale 200ms ease-in-out;
    cursor: pointer;
}

.topIcon:hover{
    scale: 1.2;
    color: var(--highlight);
}


 /* layout */

 .about-wrapper{
     display: flex;
     flex-direction: row;
     padding: 5em;
     gap: 10em;
     margin-bottom: 5em;
 }

 .about-wrapper > * {
     /* flex-basis: 100%; */
    flex: 1;
 }
 
 .info{
     max-width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }

 .info-image img{
    max-width: 100%;
    height: auto;
 }

 .about-square{
    position: absolute;
    left: 50%;
    top: 15%;
    width: 500px;
    min-height: 500px;
    border: 4px solid var(--text);
    transform: rotate(40deg);
    z-index: -1;
    opacity: .4;
}
.about-square2{
    position: absolute;
    left: 55%;
    top: 15%;
    width: 500px;
    min-height: 500px;
    border: 4px solid var(--highlight);
    transform: rotate(40deg);
    z-index: -1;
    opacity: .2;
}
 


 /* typography */

 .title{
    margin: 1em 2em 2em 1em;
    color: var(--text);
    font-size: 3rem;
    border-bottom: 2px solid var(--text) ;
}
.second-title{
    margin: 1em 2em 1em 1em;
    opacity: .9;
    color: var(--text);
    font-size: 3rem;
    border-bottom: 2px solid var(--text) ;
}

 .info-body{
     max-width: 50em;
     color: var(--text);
     line-height: 1.5em;
     font-size: 1.2rem;
     opacity: .8;
 }

 